/*=============================== Estilos Generales */
body{
    background-color: #ddd7d7;
}
*{
    font-family: "Roboto", sans-serif;
}
.container-fluid{
    width: 1100px ;
}
.mt-6{
    margin-top: 5.35rem;
}
/*=============================== Barra navegacion */
.bg-nav{
    background-color: #1b2838;
}
/*=============================== Icons Intrumentos */
.icon-decor{
    margin: 1px;
    display: inline;
}
.img-decor{
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 4px;
    width: 65px;
    height: 65px;
}
.icon-onStage{
    width: 80px;
    height: 65px;
}
 /*=============================== Estilos del Panel*/
 .btn-panel {
    background-color:#1b2838;
    text-align: center;
    color: rgb(190, 190, 190);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    margin-bottom: 2px;
}
.panel-body {
    height: 165px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    display: none;
    text-align: center;
    overflow-y: scroll;
} 
/*=============================== Stage */
.stage{
    display: float;
    height: 450px;
    width: 100%;
    border: 2px dashed black;
    background-color: white;
}